.container {
    max-width: 6000px;
    margin: 20px auto;
    padding: 20px;
    font-family: wide latin, serif;
}

.input-section {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.input-section label {
    margin-top: 100px;
}

input {
    padding: 8px;
    width: 50px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff00b3;
    color: rgb(0, 255, 13);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 2000px;
}

button:hover {
    background-color: #863f05;
}

.output-section {
    margin-top: 20px;
    padding: 105px;
    border: 1px solid #09ff00;
    border-radius: 40px;
}
